body {
  font-size: 1rem;
}

.cards-container {
  display: flex;
}

.card {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px auto;
  border-radius: 16px;
  font-family: Arial, sans-serif;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}

.card-header {
  display: flex;
  padding: 10px;
}

.propic {
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8rem;
}

.three-dots-menu {
  display: flex;
  justify-content: end;
  width: 50%;
}

.interaction-icons {
  width: 100%;
  display: flex;
}

.interaction-icons > div {
  max-width: 20px;
  margin-left: 5px;
  padding: 3px;
}

.caption {
  display: flex;
  padding-bottom: 20px;
  margin-left: 10px;
  font-size: 0.9rem;
}

.cat-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  object-fit: cover;
}

@media (max-width: 375px) {
  .cards-container {
    display: block;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .cards-container {
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 100%;
  }

  .card {
    flex: 1 1 50%;
  }
}
